h1 Todos

if todos.length < 1
	p No todos!
else
	if isCompleted
		each todo in todos
			ul
				if todo.done
					li 
						i
							a(href='#{todo.url}') #{todo.header} 
							| #{todo.date}
	else	
		each todo in todos
			ul
				if todo.done == false
					li
						a(href='#{todo.url}') #{todo.header} 
						| #{todo.date}
